<div class="col-xs-8">
   <p>
      <h5><%= post.content %></h5>
      <% liked = Like.find_by( post: post, user: current_user ) != nil %>
      <% btn_color = liked ? "warning" : "default" %>
      <% if user_signed_in? %>
      <%= link_to "ツ", post_likes_path( post ), method: :post, class: "btn btn-#{btn_color} btn-xs likeButton" %>
      <span class='likesCounter'><%= post.likes.count %></span>
      <% end %>
      <em><%= link_to post.user.handle, user_posts_path( post.user ) %></em>
   </p>
</div>
