.nav-wrapper {
  background-color: #B71427;
}
#query {
  width: 350px;
}
.typeahead li {
  background-color: black;
}
.typeahead li.active {
  background-color: orange;
}
main {
  padding: 20px;
}

strong {
  color: green;
}

body {
  background-color: #F3FAB6;
}



.welcome {
  font-size: 80px;
}

.user-name {
  color: orange;
}


.likes {
  color: green;
}
