<header class="navbar navbar-fixed-top navbar-default">

    <nav>
        <div class="nav-wrapper">
            <%= link_to "FaceCode", '/', class: "brand-logo" %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><%= link_to "Posts", posts_path %></li>
                <li>
                <li>
            </ul>
        </div>
    </nav>
</header>
